#close-dialog-button {
    position: absolute;
    top: 0;
    right: 0;
}

#dialog-point{
    position: relative;
}

.alert {
    display: none;
    position: fixed;
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    padding: 30px;
    background-color: green;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    font-size: 24px;
    z-index: 1000;
}

.alert.show {
    display: block;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}